.additional-products {
  margin: 0;
  padding: 0;
  margin-left: 20px;
  margin-right: 20px;

  &__amount {
    font-family: $font-base;
    font-size: 14px;
    line-height: 14px;
  }

  &__item {
    padding-bottom: 17px;
    margin-bottom: 15px;

    border-bottom: 1px solid #cdcdcd;
  }

  &__name {
    padding: 0;
    margin: 0;
    margin-bottom: 18px;

    font-size: 16px;
    line-height: 16px;
    text-transform: uppercase;
  }

  &__price {
    font-family: $font-base;
    font-size: 14px;
    line-height: 14px;
    text-align: right;
  }

  &__properties {
    width: 100%;
    padding: 0;
    margin: 0;
    margin-bottom: 17px;
  }

  &__title {
    margin-bottom: 15px;
    padding-bottom: 35px;

    font-size: 24px;
    line-height: 24px;

    border-bottom: 1px solid #cdcdcd;
  }
}

@media (min-width: $tablet-width) {
  .additional-products {
    width: 708px;
    &__title  {
      font-size: 36px;
      line-height: 36px;
    }

    &__name {
      font-size: 20px;
      line-height: 20px;
    }
  }
}

@media (min-width: $desktop-width) {
  .additional-products {
    width: 1220px;
  }
}
