.additional-products {
  margin: 0;
  padding: 0;
  margin-top: 42px;

  border-top: 3px solid $button-bg;

  &__amount {
    padding: 0;
    margin: 0;

    font-family: $font-base;
    font-size: 14px;
    line-height: 14px;
  }

  &__item {
    width: 280px;
    margin: 0 auto;
    padding-bottom: 17px;
    margin-bottom: 13px;

    border-bottom: 1px solid #cdcdcd;

    & .button {
      letter-spacing: 0;
    }

    &:nth-child(1) {
      padding-top: 13px;

      border-top: 1px solid #cdcdcd;
    }
  }

  &__name {
    padding: 0;
    margin: 0;
    margin-bottom: 13px;

    font-size: 16px;
    line-height: 16px;
    text-transform: uppercase;
  }

  &__price {
    padding: 0;
    margin: 0;

    font-family: $font-base;
    font-size: 14px;
    line-height: 14px;
    text-align: right;
  }

  &__properties {
    width: 100%;
    padding: 0;
    margin: 0;
    margin-bottom: 15px;

    border-collapse: collapse;
  }

  &__title {
    padding: 0;
    margin: 0;
    margin-bottom: 33px;
    margin-top: -16px;
    padding-left: 19px;
    margin-right: 53px;

    font-weight: normal;
    font-size: 24px;
    line-height: 24px;

    background-color: #ffffff;
  }
}

@media (min-width: $tablet-width) {
  .additional-products {
    width: 768px;
    margin-top: 89px;
    margin-bottom: 69px;

    &__title {
      margin-left: 28px;
      margin-bottom: 92px;
      margin-top: -25px;
      margin-right: 327px;
      padding-left: 39px;

      font-size: 36px;
      line-height: 36px;
    }

    &__item {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      padding-top: 26px;
      padding-bottom: 27px;
      padding-left: 38px;
      padding-right: 36px;
      margin-bottom: 0;
      width: 633px;

      border: 1px solid #cdcdcd;
      border-bottom: none;

      &:nth-child(2) {
        padding-top: 26px;
      }

      &:nth-last-child(1) {
        border-bottom: 1px solid #cdcdcd;
      }

      & .button {
        width: 100%;
        height: 40px;
        font-size: 16px;
        line-height: 16px;
      }
    }

    &__name {
      margin-bottom: 25px;

      font-size: 20px;
      line-height: 20px;
    }

    &__properties {
      display: flex;
      justify-content: flex-end;
      margin-top: 4px;
      width: 50%;
    }

    &__amount {
      text-align: right;
      font-size: 16px;
      line-height: 20px;
    }

    &__price {
      width: 95px;

      font-size: 16px;
      line-height: 20px;
    }
  }
}

@media (min-width: $desktop-width) {
  .additional-products {
    width: 1440px;
    margin-top: 97px;
    margin-bottom: 86px;

    &__wrapper {
      display: flex;
      width: 1220px;
      margin: 0 auto;
    }

    &__title {
      margin-left: 70px;
      margin-right: 957px;
      margin-bottom: 80px;
    }

    &__item {
      padding: 0;
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      align-items: center;
      padding-top: 16px;
      padding-bottom: 15px;
      width: 895px;

      border-left: none;
      border-right: none;

      &:nth-child(1) {
        padding-top: 16px;
      }

      &:nth-child(2) {
        padding-top: 16px;
      }
    }

    &__name {
      flex-grow: 1;
      margin-bottom: 0;
    }

    &__properties {
      margin-bottom: 0;
      margin-top: 5px;
      margin-right: 38px;
      width: 287px;

      & tbody {
        width: 100%;
      }

      & tr {
        display: flex;
        justify-content: space-between;
      }
    }

    & .button {
      width: 245px;
    }
  }
}
