.container {
  &__description {
    padding: 0;
    margin: 0;
    margin-bottom: 28px;

    color: #ffffff;
    font-size: 14px;
    font-weight: 100;
    text-transform: uppercase;
    text-align: center;
  }

  &__example-product {
    display: block;
    margin: 0 auto;
  }

  &__select-program {
    margin-left: 20px;
    margin-right: 20px;

    font-size: 14px;
  }

  &__text {
    margin-left: 20px;
    margin-right: 20px;

    color: $color-dark;
    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;
  }

  &__title {
    padding: 0;
    margin: 0;
    margin-top: 40px;
    margin-bottom: 40px;

    color: $color-dark;
    font-size: 36px;
    font-weight: normal;
    text-align: center;
    line-height: 36px;

    &--main {
      margin-top: 0;
      margin-bottom: 20px;
      padding-top: 29px;

      color: #ffffff;
    }
  }
}

@media (min-width: $tablet-width) {
  .container {
    position: relative;

    width: 768px;
    margin: 0 auto;

    &__title {
      width: 708px;
      margin: 0 auto;
      padding: 0;
      margin-bottom: 90px;

      color: $color-dark;
      font-size: 60px;
      line-height: 60px;
      text-align: left;
    }

    &__description {
      padding: 0;
      margin: 0;
      margin-left: 90px;
      margin-bottom: 20px;

      font-size: 20px;
      line-height: 20px;
      color: $color-dark;
      text-align: left;
    }

    &__text {
      font-size: 20px;
      line-height: 30px;
    }

    &__select-program {
      position: absolute;
      top: 220px;

      margin-left: 90px;
    }

    & .button {
      @include button-tablet-index;
    }
  }
}

@media (min-width: $desktop-width) {
  .container {
    width: 100%;
    margin: 0 auto;

    &__title {
      width: 1220px;
      margin: 0 auto;
      margin-bottom: 45px;
      padding: 0;

      color: $color-dark;
      font-size: 60px;
      line-height: 60px;
      text-align: left;
    }

    &__description {
      margin-left: 83px;
      margin-bottom: 54px;

      font-size: 20px;
      line-height: 20px;
      color: $color-dark;
      text-align: left;
    }

    &__select-program {
      position: absolute;
      top: 239px;

      margin-left: 83px;
    }
  }
}
