.contacts {
  &__all-text {
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 26px;
    display: flex;
  }

  &__partnership {
    padding: 0;
    margin: 0;
    flex-shrink: 2;
    margin-right: 18px;

    font-size: 16px;
    line-height: 20px;
    text-transform: uppercase;
  }

  &__text {
    padding: 0;
    margin: 0;

    font-family: $font-base;
    font-size: 14px;
    line-height: 20px;
  }

  &--bg {
    padding-top: 31px;

    background-color: $color-light-grey;
  }

  &__map {
    margin: 0 auto;
    width: 320px;
    height: 362px;
    background-image: url(http://placehold.it/320x362);
  }
}

@media (min-width: $tablet-width) {
  .contacts {

    &__all-text {
      display: flex;
      justify-content: space-between;
      padding: 0;
      margin-left: 72px;
      margin-right: 72px;
      margin-bottom: 63px;
    }

    &__partnership {
      font-size: 20px;
      line-height: 25px;
    }

    &__text {
      font-size: 16px;
      line-height: 20px;
      text-align: right;
    }

    &--bg {
      padding-top: 64px;
    }

    &__map {
      width: 768px;
      height: 394px;
      background-image: url(http://placehold.it/809x394);
    }
  }

}

@media (min-width: $desktop-width) {
  .contacts {
      position: relative;

      &--bg {
        padding-top: 0;
      }

    &__all-text {
      position: absolute;
      top: 95px;
      left: 110px;

      padding: 0;
      margin: 0;
      padding-top: 65px;
      padding-bottom: 58px;
      padding-left: 77px;
      justify-content: start;
      width: 493px;

      background: #ffffff;

      z-index: 1;
    }

    &__partnership {
      margin-right: 96px;
    }

    &__text {
      text-align: left;
    }

    &__map {
      margin: 0 auto;
      width: 1440px;
      height: 400px;
      background-image: url(http://placehold.it/1440x400);
    }
  }
}
