.copyright {
  margin: 0 auto;
  width: 280px;
  position: relative;

  &__link {
    font-family: $font-base;
    color: $color-text;
    font-size: 16px;
    line-height: 16px;
    text-decoration: none;
    letter-spacing: -0.3px;

    &::after {
      content: "";

      position: absolute;
      top: -8px;
      right: -9px;

      width: 43px;
      height: 40px;

      background-image: url("../img/htmlacademy.svg");
      background-repeat: no-repeat;
    }
  }
}

@media (min-width: $tablet-width) {
  .copyright {
    padding: 0;
    margin: 0;
    width: auto;

    &__link {
      margin-right: 52px;
    }
  }
}

@media (min-width: $desktop-width) {
  .copyright {

    &__link {

      &::after {
        top: -10px;
        right: -9px;
      }
    }
  }
}
