.main-page {
  padding: 0;
  margin: 0 auto;
  width: 320px;

  background-image: url("../img/index-background-mobile@1x.jpg");
  background-repeat: no-repeat;
}

@media (min-width: $tablet-width) {
  .main-page {
    background-image: none;
  }
}

@media (min-width: $desktop-width) {
  .main-page {
    margin-top: 93px;
  }
}
