.more {
  border-left: 1px solid #ededed;
  border-right: 1px solid #ededed;
  border-bottom: 1px solid #ededed;

  &__text {
    padding: 0;
    margin: 0;

    font-size: 16px;
    line-height: 20px;
    text-transform: uppercase;
    text-align: center;

    &--small {
      font-family: $font-base;
      font-size: 12px;
      line-height: 16px;
      text-align: center;
    }
  }

  &__wrapper {
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 24px;
  }
}
