.order-all {
  position: relative;

  padding: 0;
  margin: 0;
  margin-top: 40px;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 31px;
  width: 280px;
  height: 289px;

  background-image: url("../img/gift-photo-mobile@1x.jpg");
  background-repeat: no-repeat;

  &__text {
    position: absolute;
    bottom: 44px;
    left: 50%;

    padding: 0;
    margin: 0;
    margin-left: -80px;

    font-family: $font-base;
    color: #ffffff;
    font-size: 16px;
    line-height: 20px;
    text-align: center;

    &::before {
      content: "";

      position: absolute;
      left: 50%;
      bottom: 120px;

      width: 55px;
      height: 60px;
      margin-left: -27px;

      background-image: url("../img/icon-gift.svg");
    }
  }
}

@media (min-width: $tablet-width) {
  .order-all {
    width: 708px;
    height: 200px;
    margin: 0 auto;
    margin-bottom: 75px;
    margin-top: 70px;

    background-size: 708px 200px;
    background-image: url("http://placehold.it/708x200");
    background-repeat: no-repeat;

    &__text {
      position: absolute;

      right: 0;
      left: auto;
      top: 71px;
      margin-right: 125px;
      margin-bottom: -30px;

      font-family: $font-base;
      color: #ffffff;
      font-size: 16px;
      line-height: 20px;
      text-align: left;

      &::before {
        content: "";

        top: -5px;
        left: -305px;
        right: auto;

        background-image: url("../img/icon-gift.svg");
      }
    }
  }
}

@media (min-width: $desktop-width) {
  .order-all {
    width: 245px;
    height: 289px;
    margin: 0 auto;
    margin-right: 0;

    background-image: url("http://placehold.it/245x289");
    background-size: 245px 289px;
    background-repeat: no-repeat;

    &__text {
      top: auto;
      right: auto;
      bottom: 43px;
      left: 42px;
      margin: 0;
      text-align: center;

      &::before {
        top: auto;
        left: 50%;

        margin-left: -26px;
      }
    }
  }
}
