.product {
  border: 1px solid #ededed;

  &__name {
    padding: 0;
    margin: 0;
    margin-bottom: 20px;

    font-size: 16px;
    line-height: 20px;
    text-transform: uppercase;
    color: $color-dark;
  }

  &__wrapper {
    display: flex;
    flex-wrap: wrap;
    width: 280px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 24px;
  }

  &__all-text {
    flex-grow: 1;
    margin-top: 25px;
    margin-bottom: 25px;
  }
}

@media (min-width: $tablet-width) {
  .product {
    width: 324px;
    margin-bottom: 140px;

    background-color: $color-light-grey;
    border: none;

    &__wrapper {
      width: 249px;
      margin-left: 38px;
      margin-right: 38px;
      margin-bottom: 40px;
      display: flex;
      flex-direction: column;
    }

    &__image {
      margin: 0 auto;
    }

    &__all-text {
      margin-bottom: 33px;
    }

    &__name {
      padding: 0;
      margin: 0;
      margin-bottom: 30px;

      font-size: 20px;
      line-height: 20px;
      text-transform: uppercase;
      text-align: center;
    }

    & .button {
      padding: 0;
      width: 249px;
      height: 40px;

      font-size: 16px;
      line-height: 20px;
    }
  }
}

@media (min-width: $desktop-width) {
  .product {
    width: 245px;

    border: none;

    &__wrapper {
      width: 169px;
    }

    & .button {
      padding: 0;
      width: 169px;
      height: 40px;

      font-size: 16px;
      line-height: 20px;
    }
  }
}
