.services {
  margin-top: 20px;
  margin-right: 20px;
  margin-left: 20px;

  &__description {
    padding: 0;
    margin: 0;
    padding-bottom: 22px;
    margin-bottom: 18px;

    font-family: $font-base;
    font-size: 14px;
    line-height: 18px;
    color: $color-text;

    border-bottom: 1px solid #d9d9d9;
  }

  &__item {
    padding-top: 38px;
    padding-right: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    margin-bottom: 20px;

    background-color: $color-light-grey;

    & a {
      position: relative;

      color: $color-dark;
      font-size: 16px;
      text-decoration: none;
      text-transform: uppercase;

      &::after {
        content: "";

        position: absolute;
        top: 6px;

        margin-left: 12px;
        width: 24px;
        height: 11px;

        background-image: url("../img/icon-right-arrow-long.svg");
      }
    }

    & a:active {
      color: $text-down;
    }
  }

  &__list {
    padding: 0;
    margin: 0;

    list-style: none;
  }

  &__title {
    position: relative;

    padding: 0;
    margin: 0;
    margin-bottom: 33px;
    padding-left: 72px;

    color: $color-dark;
    text-transform: uppercase;
    font-size: 24px;
    font-weight: 100;

    &--lose::before {
      content: "";

      position: absolute;
      top: -12px;
      left: 2px;

      width: 50px;
      height: 50px;

      background-color: $button-bg;
      border-radius: 50%;
    }

    &--lose::after {
      content: "";

      position: absolute;
      top: -14px;
      left: 10px;

      width: 35px;
      height: 49px;

      background-image: url("../img/icon-cat-slim.svg");
    }

    &--get::before {
      content: "";

      position: absolute;
      top: -12px;
      left: 2px;

      width: 50px;
      height: 50px;

      background-color: $button-bg;
      border-radius: 50%;
    }

    &--get::after {
      content: "";

      position: absolute;
      top: -2px;
      left: -7px;

      width: 67px;
      height: 28px;

      background-image: url("../img/icon-cat-pro.svg");
    }
  }
}

@media (min-width: $tablet-width) {
  .services {
    margin-left: 0;
    margin-right: 0;
    width: 708px;
    margin: 0 auto;
    margin-bottom: 45px;

    &__title {
      padding: 0;
      margin-bottom: 26px;

      font-size: 36px;
      line-height: 37px;
      text-align: left;

      &--lose::before {
        content: "";

        position: absolute;
        top: 16px;
        right: 12px;
        left: auto;

        width: 200px;
        height: 200px;

        background-color: $button-bg;
        border-radius: 50%;
      }

      &--lose::after {
        content: "";

        position: absolute;
        top: 4px;
        right: 42px;
        left: auto;

        width: 140px;
        height: 194px;

        background-image: url("../img/icon-cat-slim.svg");
      }

      &--get::before {
        content: "";

        position: absolute;
        top: 16px;
        right: 10px;
        left: auto;

        width: 200px;
        height: 200px;

        background-color: $button-bg;
        border-radius: 50%;
      }

      &--get::after {
        content: "";

        position: absolute;
        top: 60px;
        right: -22px;
        left: auto;

        width: 268px;
        height: 112px;

        background-image: url("../img/icon-cat-pro.svg");
      }
    }

    &__description {
      padding: 0;
      margin-right: 233px;
      margin-bottom: 56px;

      font-size: 16px;
      line-height: 24px;

      border-bottom: none;

      &--get {
        margin-right: 261px;
      }
    }

    &__item {
      padding-top: 74px;
      padding-right: 50px;
      padding-bottom: 61px;
      padding-left: 53px;
      margin-bottom: 30px;

      & a {
        position: relative;

        color: $color-dark;
        font-size: 20px;
        line-height: 20px
      }

      & a::after {
        content: "";

        position: absolute;
        top: 10px;
        left: 119px;

        margin-left: 12px;
        width: 24px;
        height: 11px;

        background-image: url("../img/icon-right-arrow-long.svg");
      }
    }
  }
}

@media (min-width: $desktop-width) {
  .services {
    width: 1220px;
    margin-bottom: 72px;
    margin-top: 374px;

    &__list {
      display: flex;
      justify-content: space-between;
    }

    &__item {
      width: 462px;
      padding-top: 47px;
      padding-right: 55px;
      padding-bottom: 62px;
      padding-left: 53px;
      margin-bottom: 0;
    }

    &__title {
      padding: 0;
      margin: 0;
      margin-bottom: 74px;
      margin-top: 28px;
      margin-left: 161px;

      &--lose::before {
        content: "";

        position: absolute;
        top: -29px;
        right: auto;
        left: -162px;

        width: 100px;
        height: 100px;

        background-color: $button-bg;
        border-radius: 50%;
      }

      &--lose::after {
        content: "";

        position: absolute;
        top: -35px;
        right: auto;
        left: -148px;

        width: 70px;
        height: 97px;

        background-image: url("../img/icon-cat-slim.svg");
      }

      &--get::before {
        content: "";

        position: absolute;
        top: -29px;
        right: auto;
        left: -162px;

        width: 100px;
        height: 100px;

        background-color: $button-bg;
        border-radius: 50%;
      }

      &--get::after {
        content: "";

        position: absolute;
        top: -8px;
        right: auto;
        left: -180px;

        width: 134px;
        height: 56px;

        background-image: url("../img/icon-cat-pro.svg");
      }
    }

    &__description {
      padding: 0;
      margin: 0;
      margin-bottom: 31px;
    }
  }
}
