.site-list {
  &__item {
    font-size: 20px;
    text-align: center;
    text-transform: uppercase;

    border-bottom: 1px solid #e6e6e6;

    & a {
      display: block;
      padding-top: 25px;
      padding-bottom: 25px;

      color: $color-dark;
      text-decoration: none;
    }
  }
}

@media (min-width: $tablet-width) {
  .site-list__item {
    font-size: 18px;
    border-bottom: none;
    margin-left: 36px;

    & a {
      padding-top: 0;
      padding-bottom: 0;
    }

    &--active {
      padding-bottom: 12px;

      border-bottom: 2px solid $button-bg;
    }
  }
}
