.site-list {
  &__item {
    font-size: 20px;
    text-align: center;
    text-transform: uppercase;

    border-bottom: 1px solid #e6e6e6;

    & a {
      display: block;
      padding-top: 22px;
      padding-bottom: 20px;

      letter-spacing: 0.7px;
      color: $color-dark;
      text-decoration: none;
    }
  }

  &__item:first-child {
    border-top: 1px solid #e6e6e6;
  }
}

@media (min-width: $tablet-width) {
  .site-list {
    &__item:first-child {
      border-top: none;
    }

    &__item {
      margin-left: 36px;

      font-size: 18px;

      border: none;

      & a {
        padding-top: 0;
        padding-bottom: 0;

        letter-spacing: 0;
      }

      &--active {
        padding-bottom: 12px;

        border-bottom: 2px solid $button-bg;
      }
    }
  }
}

@media (min-width: $desktop-width) {
  .site-list {
    &__item {
      margin-left: 35px;

      & a {
        letter-spacing: 1px;
      }

      &--active-main {
        border-bottom: 2px solid #ffffff;
      }

      &--main a {
        color: #ffffff;
      }
    }
  }
}
