@font-face {
  font-family: "Oswald";
  src: url("../fonts/oswaldregular.woff");
  src: url("../fonts/oswaldregular.woff2");
  /*src: url("../fonts/oswaldmeduim.woff");
  src: url("../fonts/oswaldmeduim.woff2");*/
}

@import "variables";
@import "blocks/page-header__logo";
@import "blocks/site-list";
@import "blocks/site-list__item";
@import "blocks/main-page";
@import "blocks/container__title";
@import "blocks/container__text";
@import "blocks/container__description";
@import "blocks/container__select-program";
@import "blocks/button";
@import "common";
@import "blocks/services";
@import "blocks/services__list";
@import "blocks/services__item";
@import "blocks/container__example-product";
@import "visually-hidden";
@import "blocks/services__title";
@import "blocks/services__description";
@import "blocks/title";
@import "blocks/how-it-work";
@import "blocks/how-it-work__list";
@import "blocks/live-example";
@import "blocks/live-example__text";
@import "blocks/contacts__all-text";
@import "blocks/contacts__partnership";
@import "blocks/contacts__text";
@import "blocks/page-footer";
@import "blocks/page-footer__logo-image";
@import "blocks/copyright__link";
@import "blocks/product";
@import "blocks/product__wrapper";
@import "blocks/product__name";
@import "blocks/properties-list";
@import "blocks/more";
@import "blocks/more__wrapper";
@import "blocks/more__text";
@import "blocks/additional-products";
@import "blocks/additional-products__title";
@import "blocks/additional-products__item";
@import "blocks/additional-products__name";
@import "blocks/additional-products__properties";
@import "blocks/additional-products__amount";
@import "blocks/additional-products__price";
@import "blocks/order-all";
@import "blocks/order-all__text";
@import "blocks/form";
@import "blocks/form__category";
@import "blocks/form__row";
