@font-face {
  font-family: "Oswald";
  src: url("../fonts/oswaldregular.woff");
  src: url("../fonts/oswaldregular.woff2");
  /*src: url("../fonts/oswaldmeduim.woff");
  src: url("../fonts/oswaldmeduim.woff2");*/
}

@import "variables";
@import "common";
@import "visually-hidden";
@import "site-list";
@import "main-page";
@import "container";
@import "button";
@import "services";
@import "title";
@import "how-it-work";
@import "live-example";
@import "contacts";
@import "page-footer";
@import "copyright";
@import "product";
@import "properties-list";
@import "more";
@import "additional-products";
@import "order-all";
@import "form";
